---
import Layout from '../layouts/Layout.astro';
// import { Image, Picture } from '@astrojs/image/components';
import { getBlogs } from '../library/microcms';
import Card from '../components/Card.astro';
// const { Img } = require('astro-imagetools/components');
// import { Img } from 'astro-imagetools/components';

// const remoteImage = 'https://picsum.photos/1024/768';
const response = await getBlogs({ fields: ['id', 'title'] });
---

<Layout title='My first Astro Blog'>
	<main>
		<h1 class='title'>My First <span class='text-gradient'>Astro</span> Blog</h1>
		<div class='content'>
			<ul class='list'>
				{response.contents.map((content: any) => <Card href={content.id} title={content.title} />)}
			</ul>
			<!-- <figure class='figure'>
				<figcaption>Local Image with @astrojs/image</figcaption>
				<Image src={remoteImage} width={1920} aspectRatio='1:1' format='jpg' alt='' />
			</figure> -->
			<!-- <figure class='figure'>
				<figcaption>Local Image with astro-imagetools</figcaption>
				<Img src='/src/assets/images/paint.jpg' alt='' />
			</figure>
			<figure class='figure'>
				<figcaption>Remote Image with astro-imagetools</figcaption>
				<Img src='https://picsum.photos/1024/768' alt='A random image' />
			</figure> -->
		</div>
	</main>
</Layout>

<style scoped>
	.title {
		text-align: center;
		margin: 0;
		padding: 1em 0;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 5%;
		margin: 0;
		padding: 0;
	}
	@media (max-width: 650px) {
		.list {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.figure {
		margin: min(10%, 50px) auto 0;
		width: 50%;
	}
	.figure img {
		max-width: 100%;
		height: auto;
	}
	.figure figcaption {
		font-size: 1.5rem;
	}
</style>
